.app {
  text-align: center;
}

hr {
  border-color: darkgrey;
}

.app-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.loader {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: white;
  z-index: 9999;
}

.app-intro {
  font-size: large;
}

@keyframes app-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
